<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Resep</title>
    <link rel="stylesheet" href="/css/unggah.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>
<body>
    <!-- Nav -->
    <%- include('./layouts/nav') %>

    <!-- FORM -->
    <section class="container mt-5 pt-5">
        <h1 class="text-center mt-5 mb-4">Edit Resep <%= resep.Nama_Resep %></h1>

        <form action="/resep/update-resep/<%= resep.ID_Resep %>" method="POST" enctype="multipart/form-data" class="form-unggah p-5 rounded shadow-sm" id="form-unggah">
            <!-- Nama Resep -->
            <div class="mb-3">
                <label for="recipeName" class="form-label">Nama Resep</label>
                <input type="text" class="form-control form-control-lg" id="recipeName" name="Nama_Resep" required value="<%= resep.Nama_Resep %>">
            </div>

            <!-- Deskripsi Resep -->
            <div class="mb-3">
                <label for="recipeDecription" class="form-label">Deskripsi Resep</label>
                <input type="text" class="form-control form-control-lg" id="recipeDecription" name="Deskripsi" required value="<%= resep.Deskripsi %>">
            </div>

            <!-- Kategori Resep -->
            <div class="mb-3">
                <label for="category" class="form-label">Kategori</label>
                <select class="form-select form-select-lg" id="Kategori" name="Kategori" required>
                    <option selected><%= resep.Kategori %></option>
                    <option value="Sarapan">Sarapan</option>
                    <option value="Makan Siang">Makan Siang</option>
                    <option value="Makan Malam">Makan Malam</option>
                    <option value="Resep Ayam">Resep Ayam</option>
                    <option value="Resep Daging">Resep Daging</option>
                    <option value="Resep Seafood">Resep Seafood</option>
                    <option value="Resep Sayuran">Resep Sayuran</option>
                    <option value="Dessert">Dessert</option>
                </select>
            </div>

            <!-- Waktu Resep -->
            <div class="mb-3">
                <label for="category" class="form-label">Waktu</label>
                <select class="form-select form-select-lg" id="Waktu" name="Waktu" required>
                    <option selected><%= resep.Waktu %></option>
                    <option value="15 Menit">15 Menit</option>
                    <option value="30 Menit">30 Menit</option>
                    <option value="45 Menit">45 Menit</option>
                    <option value="1 Jam">1 Jam</option>
                    <option value="1 Jam 30 Menit">1 Jam 30 Menit</option>
                    <option value="2 Jam">2 Jam</option>
                    <option value="2 Jam 30 Menit">2 Jam 30 Menit</option>
                    <option value="+3 Jam">+3 Jam</option>
                </select>
            </div>

            <!-- Bahan Bahan -->
            <div class="mb-3">
                <label for="ingredients" class="form-label">Bahan-bahan</label>
                <textarea class="form-control form-control-lg" id="ingredients" name="Bahan" rows="4" required placeholder="Masukkan Bahan-bahan"><%= resep.Bahan %></textarea>
            </div>

            <!-- Langkah Memasak -->
            <div class="mb-3">
                <label for="steps" class="form-label">Langkah Memasak</label>
                <textarea class="form-control form-control-lg" id="steps" name="Langkah" rows="6" required placeholder="Masukkan Langkah Memasak"><%= resep.Langkah %></textarea>
            </div>

            <!-- Foto Resep -->
            <div class="mb-3">
                <label for="image" class="form-label">Unggah Gambar Resep</label>
                <input type="hidden" name="oldGambarResep" value="<%= resep.Gambar_Resep %>">
                <input class="form-control form-control-lg" type="file" id="image" name="Gambar_Resep">
                <% if (resep.Gambar_Resep) { %>
                    <img src="/images/resep/<%= resep.Gambar_Resep %>" alt="<%= resep.Gambar_Resep %>" style="max-width: 200px; margin-top: 10px;">
                <% } %>
            </div>

            <div class="button-edit">
                <button type="submit" id="btn-submit" class="col  btn btn-submit button-unggah">Simpan Resep</button>

                <a class="col" href="/resep/<%- resep.ID_Resep %>">Batal</a>
            </div>
        </form>
    </section>

    <!-- Footer -->
    <%- include('./layouts/footer') %>

    <div id="error-message" data-error="<%= typeof message !== 'undefined' ? message : '' %>"></div>


    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
</body>
</html>