<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit User</title>
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>
<body>
    <!-- Navbar -->
    <%- include('./layouts/nav') %>

    <section class="profile-user container">
        <div class="profile-deskripsi">
            <div class="content-wrapper user-deskripsi">
                <div class="user-avatar">
                    <img src="/images/user/<%= user.Gambar_User %>" alt="<%= user.name %>">
                </div>

                <div class="profile-user-text">
                    <h1>
                        <%= user.name %>
                    </h1>
                    <p><%= user.email %></p>

                    <div class="profile-user-menu">
                        <a href="/profile/<%= user.name %>/delete" class="danger">Delete Account</a>
                    </div>
                </div>
            </div>
        </div>

        <% if (recentUser.ID_User == user.ID_User) { %>
            <aside>
                <h3>Account</h3>
                <div class="sidebar-nav">
                    <input type="hidden" name="oldGambarUser" value="<%= user.Gambar_User %>">
                    <a href="/profile/<%= user.name %>">Profile</a>
                    <a href="/profile/<%= user.name %>/edit" class="sidenav-active">Settings</a>
                    <a href="/profile/<%= user.name %>/edit/password">Change Password</a>
                </div>
            </aside>
        <% } %>
    </section>

    <!-- Form Edit User -->
    <section class="container-edit-user mt-5 pt-5">
        <form action="/profile/<%= user.name %>/edit/save" method="POST" class="form-edit-user" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="profile_image">Change Profile Image</label>
                <input type="file" name="Gambar_User">
                <input type="hidden" name="oldGambarUser" value="<%= user.Gambar_User %>">
            </div>

            <div class="mb-3">
                <label for="full_name">Username</label>
                <input type="text" name="name" value="<%= user.name %>">
            </div>

            <div class="mb-3">
                <label for="email">Email Address</label>
                <input type="email" name="email" value="<%= user.email %>">
            </div>
            <div class="mb-3-bottom">
                <button type="submit">Save</button>
            </div>
        </form>
    </section>

    <!-- Footer -->
    <%- include('./layouts/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
</body> 
</html>