<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Resep</title>
    <link rel="stylesheet" href="/css/resep.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>
<body>
    <!-- Navbar -->
    <header>
        <a href="/" class="logo"><img src="/images/logo/logorn.png" alt="Rasa Nusantara"></a>
    
        <ul class="navbar">
            <li><a class="nav-active" href="/resep">Resep</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Kategori
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/kategori/Sarapan">Sarapan</a></li>
                    <li><a class="dropdown-item" href="/kategori/Makan Siang">Makan Siang</a></li>
                    <li><a class="dropdown-item" href="/kategori/Makan Malam">Makan Malam</a></li>
                    <li><a class="dropdown-item" href="/kategori/Resep Ayam">Resep Ayam</a></li>
                    <li><a class="dropdown-item" href="/kategori/Resep Daging">Resep Daging</a></li>
                    <li><a class="dropdown-item" href="/kategori/Resep Seafood">Resep Seafood</a></li>
                    <li><a class="dropdown-item" href="/kategori/Resep Sayuran">Resep Sayuran</a></li>
                    <li><a class="dropdown-item" href="/kategori/Dessert">Dessert</a></li>
                </ul>
            </li>
            <li><a href="/resep/unggah">Unggah Resep</a></li>
        </ul>
    
        <form action="/resep/searchResep" method="post" class="searchbar" novalidate>
            <input type="text" name="search" placeholder="Temukan Resep" aria-label="search">
            <button type="submit"> Cari </button>
        </form>
    
        <div class="profile" tabindex="0">
            <% if (recentUser) { %>
                <div class="profile-header">
                    <img src="/images/user/<%= recentUser.Gambar_User %>" alt="<%= recentUser.name %>">
                    <span><%= recentUser.name %></span>
                </div>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/profile/<%= recentUser.name %>">Profile</a></li>
                    <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
                </ul>
            <% } else { %>
                <a href="/login"><span>Login</span></a>
            <% } %>
        </div>
    </header>

    <section class="heading-atas">
        <div class="heading-resep">
            <h1>Resep Makanan</h1>
            <p>Pilihan resep mudah dan cepat untuk sehari-hari</p>
        </div>
    </section>

    <section class="resep">
        <%- include('./resep/reseploop') %>
    </section>

    <div class="pagination">
        <% if (page > 1) { %>
            <a href="/resep?page=<%= page - 1 %>" class="prev">Previous</a>
        <% } %>

        <% for (let i = 1; i <= totalPages; i++) { %>
            <a 
                href="/resep?page=<%= i %>" 
                class="<%= i === page ? 'active' : '' %>">
                <%= i %>
            </a>
        <% } %>

        <% if (page < totalPages) { %>
            <a href="/resep?page=<%= page + 1 %>" class="next">Next</a>
        <% } %>
    </div>

    <!-- Footer -->
    <%- include('./layouts/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
</body>
</html>